RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

AuthType Basic
AuthName "Private zone. Only for administrator!"
AuthBasicProvider dbd
require valid-user